html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size: 1rem;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	justify-content: center;
	align-items: center;
	font-size: 1.875rem;
	border-bottom: 3px solid #77a466;
	width: 100%;
}

h2 {
	font-size: 1.125rem;
}

h3 {
	font-size: 0.75rem;
}

p {
	font-size: 0.875rem;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width:100%;
	margin: 0 auto;
	text-align: center;
}

header h1 {
	margin: 0;
	padding: 20px 0;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875rem;
	padding: 15px;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-flow: row wrap;
}

.main-image img {
	border-bottom: 3px solid #77a466;
	width: 100%;
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1rem;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
    flex-flow: row wrap;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two h3,
.section-three h3 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1rem;
	line-height: 21px;
	padding: 0;
}

.address {
	font-size: 1rem;
	line-height: 24px;
	padding: 0;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	flex-flow: row wrap;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875rem;
}

/************* FOR TABLETS ***********/
@media (min-width:768px) {
	body {
		min-width:768px;
	}

	h1 {
		font-size: 1.6875rem;
	}

	header nav ul li {
		padding:10px;
	}

	.bottom-section {
		flex-flow: row wrap;
	}

	.section-one,
	.section-two,
	.section-three {
		height: 250px;
		width: 245px;
		border-top: 1px solid #eee;
		flex-flow: row wrap;
		display: flex;
		vertical-align: top;
		justify-content: space-between;
	}

	.section-one {
		padding: 10px 0;
	}

	.section-two {
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		padding: 10px 30px;
	}

	.section-three {
		padding: 10px 0px 10px 30px;
	}
	/* How do I get the image size to adjust with the page size ??? It is very big and needs to be smaller for mobile (and a bit smaller tablet and desktop) */
}

/*********** FOR DESKTOP *************/
@media (min-width:1200px) {
	body {
		min-width:1200px;
	}

	h1 {
		font-size: 1.6875rem;
	}

	.bottom-section {
		flex-flow: row wrap;
	}

	.section-one,
	.section-two,
	.section-three {
		height: 250px;
		width: 300px;
		border-top: 1px solid #eee;
		flex-flow: row wrap;
		display: flex;
		vertical-align: top;
	}

	.section-two {
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
	}